
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  	background: url('../img/background.png');
}


.section {
	background: #F5F5F5;
	padding: 10px;
	border: 1px solid #E0E0E0;
	border-top: none;
}

.explore > li.active > a {
	border: 1px solid #E0E0E0;
	border-bottom: 1px solid #f3f0f0;
}

.explore > li:not(.active) > a {
	border: none;
	border-bottom: 1px solid #E0E0E0;
}
